body{
	background-color:#2F303A;
	overflow-y: scroll;
	-webkit-text-size-adjust: none;
	-moz-animation: none !important;
	-webkit-animation: none !important;
	-ms-animation: none !important;
	animation: none !important;
	-moz-transition: none !important;
	-webkit-transition: none !important;
	-ms-transition: none !important;
	transition: none !important;
}
html{
	box-sizing: border-box
}
body:after{
	content: '';
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: inherit;
	opacity: 0;
	z-index: 1;
}
.nav-item{
	font-size: 20px;
	margin:10px;
}
.navbar-brand{
	font-size: 30px;
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.56);
	filter: drop-shadow(0px 4px 59px rgba(32, 99, 231, 0.5));
}
#slide1{
	top:170px;
	text-shadow: 3px 0px 9px rgba(15, 207, 196, 0.73);
}
#secondary{
	text-shadow: 3px 0px 9px rgba(15, 207, 196, 0.73);
}
.carousel-inner img{
	opacity: 40%;
}
#slide1 a{
	margin: 7px;
}

.container{
	display: block;
}
.card {
	/* width: 600px; */
	top: 170px;
	left: calc(50%-50%);
	transform: translate(250px, 50px);
	transition: none;
	background: linear-gradient(180deg, #00FFF0 99.99%, rgba(0, 255, 163, 0) 100%);
	display: flex;
	position: absolute;
	filter: drop-shadow(17px 10px 4px rgba(20, 125, 222, 0.47));
	margin: auto;
	width: calc(40% + 2.25em);
	margin: -1.125em 0 1.5em -1.125em;
	/* background-color: #32e0c4; */
	text-shadow: 3px 0px 9px rgba(0, 0, 0, 0.56);
}
#profile {
		-moz-transform: none !important;
		-webkit-transform: none !important;
		-ms-transform: none !important;
		transform: none !important;
		opacity: 1 !important;
	}
.card-deck{
	top: 0px;
	left: calc(50%-50%);
	transform: translate(250px, 50px);
	transition: none;
	text-align: center;
	display: flex;
	position: absolute;
	filter: drop-shadow(17px 10px 4px rgba(20, 125, 222, 0.47));
	margin: auto;
	width: calc(30% + 2.0em);
	margin: -1.125em 0 1.5em -1.125em;
	background-color: #32e0c4;
	text-shadow: 3px 0px 9px rgba(0, 0, 0, 0.56);
}


/* // Extra small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... } */